body
  background #fff
  font-size 12pt
  
.b-section
  min-height 720px
  position relative
  
section.i-blue
    background-color #43a0de
    
.b-logo
  position absolute
  top 50%
  left 50%
  margin -23px 0 0 -110px

  
img
  vertical-align top
  
  &.img-responsive
    max-width 100%
    height auto
    
hr
  border 0
  padding 100px 0
  margin 0
  
  &.i-size-S
    padding 50px 0
  
h1
  font-size 34pt
  margin 0 0 50px

h2
  font-size 20pt
  margin-bottom 40px
  
  &:first-of-type
    margin-top 0
  
.text-large
  font-size 13.5pt