.b-header
  background-color #43a0de
  
nav
  background-color transparent
  box-shadow none
  
.b-footer
  background-color #43a0de
  color #fff
  height 452px
  font-size 8pt
  
  img
    margin 211px 0 150px
  