extends ../../layouts/inside.jade

block title
  title Project | digital-lab

block content

  .container
  
    .row.b-h1
      .col.l8.offset-l2.s12
        h1.center-align Анализируйте позиции конкурентов
      
    .row
      .col.l10.offset-l1.m12
        p Тем, кто работает с популярными нишами, нужно обязательно контролировать динамику роста конкурентов. Смотреть как они отреагировали на вашу оптимизацию. Существует целый ряд инструментов, которые позволяют посмотреть данные о том, как изменяются позиции ваших конкурентов и как быстро они изменяются. На быстрорастущих конкурентов надо обязательно обратить внимание, изучить — за счет чего они растут. Возможно, они выложили новый качественный контент.
    
    .row
      .col.l8.offset-l2.m10.offset-m1.s12.center-align
        img.img-responsive( src="/upload/news/5.jpg"  alt="" )
        
    hr.i-line.i-size-L
    
    .center-align
      a.btn.btn-large.btn-defaul.waves-effect( href="../" ) Все проекты