footer.b-footer
  .container
    .row
      .col.m2.offset-m5.s8.offset-s2
        img.img-responsive( src="/template/images/digital-lab-logo.png" width="221" height="46" alt="Digital Lab")
    .center-align © 2016 все права принадлежат ООО «Диджитал Лаб».