header.b-header
  .container
    .row
      .col.m2.s10
        a( href="/" ).b-header__logo
          img.img-responsive( src="/template/images/digital-lab-logo.png" alt="" )
      .col.s8.hide-on-small-only
        nav
          .nav-wrapper
            ul
              li
                a( href="/about/" ) О нас
              li
                a( href="/projects/" ) Наши услуги
              li
                a( href="/contacts/" ) Контакты
              li
                a( href="/news/" ) Новости
              li
                a( href="/projects/" ) Проекты
      .col.s2.right-align
        a.button-collapse.b-header__menu-icon( href="#" data-activates="slide-out" )
      
    ul#slide-out.side-nav
      li
        a( href="/about/" ) О нас
      li
        a( href="/projects/" ) Наши услуги
      li
        a( href="/contacts/" ) Контакты
      li
        a( href="/news/" ) Новости
      li
        a( href="/projects/" ) Проекты