header.b-header
  .container
    nav
      .nav-wrapper
        ul.left
          li
            a( href="" ) О нас
          li
            a( href="" ) Наши услуги
          li
            a( href="" ) Контакты
          li
            a( href="" ) Новости
          li
            a( href="" ) Проекты
      
        a.button-collapse.right( href="#" data-activates="slide-out" )
          i.material-icons menu
      
    ul#slide-out.side-nav
      li
        a( href="#!" ) First Link With Icon
      li
        a( href="#!" ) Second Link With Icon
      li
        a( href="#!" ) Subheader